.line-button {
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s;
  backface-visibility: hidden;
  &__hide  {
    opacity: 0;
    pointer-events: none;
  }
  &:after {
    transform-origin: 50% 50%;
    content: '';
    border-radius: 100%;
    border: 2px solid white;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 43px;
    top: 43px;
    transform: translateZ(0);
    animation: 4s animate-button-line infinite linear;
  }
  &:before {
    transform-origin: 50% 50%;
    left: 43px;
    top: 43px;
    content: '';
    border-radius: 100%;
    border: 2px solid white;
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translateZ(0);
    animation: 4s 2s animate-button-line infinite linear;
  }
  &__bottom {
    left: 50%;
    transform: translate(-50%, -50%)translateZ(0);
    top: 100%;
  }
  &__right {
    left: 100%;
    transform: translate(-50%, -50%)translateZ(0);
    top: 50%;
  }
  &__left {
    left: 0;
    transform: translate(-50%, -50%)translateZ(0);
    top: 50%;
  }
}

@keyframes animate-button-line {
  0% {
    transform: scale(1,1) translateZ(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: scale(3,3) translateZ(0);
    opacity: 0;
  }
}
